{% extends 'base.html.twig' %}

{% block body %}

{{include('default/header.html.twig')}}

{{include('default/menu.html.twig')}}

{% block content %}"Affichage Layout"{% endblock content %}

{{include('default/footer.html.twig')}}

{% endblock body %}