body {
 /*   background-color: lightgray;*/
    background-color: green;
}

header{
    background: yellow;
    height: 50px;
  }
  
footer{
    background: #998B7D;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 50px;
  }
