<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}
                       <link rel="stylesheet" href="/build/app.css"> 
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
                       <link rel="javascripts" href="/build/app.js"> 
        {% endblock %}
    </body>
</html>
